<%- include('./partials/head') %>

<h1 class="aboutText"> About </h1>
<br />
<br />
<br />
<h2 class="aboutText">What is DevsBranch?</h2>
<h2 class="aboutText">A community-driven forum for developers and even non-developers to share thoughts about development and coding. A place where you can talk or ask questions related to coding languages. Problems that others may face to be the same as yours! It can be a place for solution or a place to share your amazing development!

    It is a code forum that you can post and others can comment on what you posted.</h2>
    <br />
    <br />
    <h2 class="aboutText">Why is the app's name DevsBranch?</h2>
    <h2 class="aboutText">DevsBranch is named the way it is because just like GitHub's branches. We have branches of Developers, and we 'push' codes or solutions to other developers to 'pull'. It was named DevelopersBranch but I shortened it to DevsBranch.</h2>


<%- include('./partials/footer') %>