<%- include('./partials/head') %>
<h1>Recorded Video of Hakim while making this coding forum</h1>
<iframe width="768" height="480" src="https://www.youtube.com/embed/Jb9Ebe_rA8M?autoplay=1&controls=0">

</iframe>
<%- include('./partials/footer') %>