
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');


body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-family: "Jersey 25", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("/images/Background2.jpg");
    background-size: cover;
    color: white;

}
.jersey-25-regular {
    font-family: "Jersey 25", serif;
    font-weight: 400;
    font-style: normal;
  }
  
form {
    display:flex;
    flex-direction:column;
    max-width: 40vw;
}

form button {
    margin-top: 10px;
}
.container {
    display:flex;
    flex-direction: column;
    align-items: center;
}
#Title {
padding-top: 20px;
font-size: 90px;
-webkit-text-stroke: 1px rgb(39, 0, 182);
}
#Subtitle {
    -webkit-text-stroke: 0.5px rgb(39, 0, 182);
}
nav {
    display: flex;
    border-radius: 50px;
    margin: 20px;
    color: white;

}

#TitleUser {
    padding-top: 30px;
    font-size: 75px;
    color:rgb(39, 0, 182);
    -webkit-text-stroke: 2px rgb(37, 37, 255);
    }

    .navbar-brand:hover {
        transition: all 5s;
    }

    input {
        border-radius: 20px;
    }
    button {
        display: flex;
        justify-content: center;
        padding: 10px;
        margin-top: 45px;
        margin-bottom: 50px;
        border-radius: 50px;    
    }
    #SignIn {
        display: flex;
        justify-content: center;
        font-size: 45px;
        padding: 10px;
        margin-top: 30px;
        border-radius: 50px;
    }

    #Register {
        display: flex;
        justify-content: center;
        font-size: 45px;
        padding: 10px;
        margin-top: 30px;
        text-decoration: none !important;
    }

    #Form {
        display: flex;
        justify-content: center;
        font-size: 45px;
        padding: 10px;
        align-items: center;

        border-radius: 50px;
    }
    
    .Description {
        margin-top: 35px;
        font-size: 20px;
        font-style: italic;
        background-blend-mode: rgb(255, 0, 0) overlay;
    }

    .container {
        font-size: 25px;
    }
   
        .card { 
            /* display: flex;
            justify-content: center; */
           /* border-color: beige; */
           min-width: 70%;
           /* height: 200px; */
           text-align: left;
        }

        .card-title { 
            /* display: flex;
            justify-content: center; */
           /* border-color: beige; */
           min-width: 70%;
           /* height: 200px; */
           text-align: left;
        }


         .div-con {
            width: 100vw;
            /* background-color: aqua; */
            display: flex;
            justify-content: center;

         }

         .div-con:hover {
            transition: all 2s;
         }

         #form {
            display: flex;
            justify-content: center;
         }
         #Category_ {
            text-align: right;
         }

         #post {
            color: black;
         }

        #Signinto {
            margin-top: 60px;
            font-size: 85px;
            -webkit-text-stroke: 1px rgb(37, 37, 255);   
        }
        #Registerinto {
            margin-top: 60px;
            font-size: 85px;
            -webkit-text-stroke: 1px rgb(37, 37, 255);   
        }

        #AddPost {
            -webkit-text-stroke: 1px rgb(37, 37, 255); 
        }

        #btn2 {
        text-decoration: none;
        }

        #Delete {
            width: 80px;
        }

        /* #Edit {
        } */

        .card mt-2_ {
            width: 20px;
        }

        .div-con2 {
            display: flex;
            justify-content: center;
        }
        #Comment {
            text-align: left;

        }

        #Comment_ {
        width: 300px;
        }
        #PostBtn {
            width: 50px;
        }
        #PostBtn:hover {
            color: gray;
            
        }

        #commentColor {
            color: black;
            margin-left: 50px;
        }

        #addComment {
            margin-left: 50px;
            margin-top: 10vw;
        }
        .commentSent {
            font-size: 50px;
            margin: 50px;
        }

        #ownerName {
            font-size: 35px;
            text-align: center;
        }

        #descriptionPost {
            text-align: center;
        }
        #commentDropdown:hover {
            color: gray;
        }
        #commentDropdown2 {
        font-size: 20px;
        color: rgb(0, 0, 0);
        }
        #commentDropdown2:hover {
            font-size: 20px;
            color: gray;
            }
        #Edit {
            color: black;
            text-decoration: none;
            margin-left: 10px;
            
        }
        #Delete {
            color: black;
            text-decoration: none;
            margin-left: 10px;
        }
        #Edit:hover {
            color: rgb(124, 124, 124);
        }
        #Delete:hover {
            color: rgb(124, 124, 124);
        }