<%- include('../partials/head') %>

<h1 id="newPost">Add a new Post</h1>

<div class="container">
<form action="/posts" method="POST">

    <label for="">Title: </label>
    <textarea id="title" name="title">
        </textarea>
    <label for="">Post: </label>
    <textarea id="text" name="text">
        </textarea>
    <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="Disabled" selected disabled>-</option>
        <option value="JavaScript">JavaScript</option>
        <option value="CSS">CSS</option>
        <option value="HTML">HTML</option>
        <option value="Embedded JavaScript (EJS)">Embedded JavaScript (EJS)</option>
        <option value="Python">Python</option>
        <option value="Java">Java</option>
        <option value="Any">Any</option>
    </select>
    
    <button type="submit">Post</button>
</form>
</div>

<%- include('../partials/footer') %>